[submodule "app/addons/frontends/default"]
	path = app/addons/frontends/default
	url = git@github.com:Oshkelosh/default_frontend.git
[submodule "app/addons/payments/worldpay"]
	path = app/addons/payments/worldpay
	url = git@github.com:Oshkelosh/worldpay.git
[submodule "app/addons/payments/stripe"]
	path = app/addons/payments/stripe
	url = git@github.com:Oshkelosh/stripe.git
[submodule "app/addons/payments/rapyd"]
	path = app/addons/payments/rapyd
	url = git@github.com:Oshkelosh/rapyd.git
[submodule "app/addons/payments/paypal"]
	path = app/addons/payments/paypal
	url = git@github.com:Oshkelosh/paypal.git
[submodule "app/addons/payments/mollie"]
	path = app/addons/payments/mollie
	url = git@github.com:Oshkelosh/mollie.git
[submodule "app/addons/payments/mangopay"]
	path = app/addons/payments/mangopay
	url = git@github.com:Oshkelosh/mangopay.git
[submodule "app/addons/payments/checkout"]
	path = app/addons/payments/checkout
	url = git@github.com:Oshkelosh/checkout.git
[submodule "app/addons/payments/airwallex"]
	path = app/addons/payments/airwallex
	url = git@github.com:Oshkelosh/airwallex.git
[submodule "app/addons/payments/adyen"]
	path = app/addons/payments/adyen
	url = git@github.com:Oshkelosh/adyen.git
[submodule "app/addons/notifications/twilio"]
	path = app/addons/notifications/twilio
	url = git@github.com:Oshkelosh/twilio.git
[submodule "app/addons/notifications/smtp"]
	path = app/addons/notifications/smtp
	url = git@github.com:Oshkelosh/smtp.git
[submodule "app/addons/notifications/ses"]
	path = app/addons/notifications/ses
	url = git@github.com:Oshkelosh/ses.git
[submodule "app/addons/notifications/sendgrid"]
	path = app/addons/notifications/sendgrid
	url = git@github.com:Oshkelosh/sendgrid.git
[submodule "app/addons/notifications/resend"]
	path = app/addons/notifications/resend
	url = git@github.com:Oshkelosh/resend.git
[submodule "app/addons/notifications/pusher_beams"]
	path = app/addons/notifications/pusher_beams
	url = git@github.com:Oshkelosh/pusher_beams.git
[submodule "app/addons/notifications/postmark"]
	path = app/addons/notifications/postmark
	url = git@github.com:Oshkelosh/postmark.git
[submodule "app/addons/notifications/onesignal"]
	path = app/addons/notifications/onesignal
	url = git@github.com:Oshkelosh/onesignal.git
[submodule "app/addons/notifications/messagebird"]
	path = app/addons/notifications/messagebird
	url = git@github.com:Oshkelosh/messagebird.git
[submodule "app/addons/notifications/mailgun"]
	path = app/addons/notifications/mailgun
	url = git@github.com:Oshkelosh/mailgun.git
[submodule "app/addons/notifications/fcm"]
	path = app/addons/notifications/fcm
	url = git@github.com:Oshkelosh/fcm.git
[submodule "app/addons/notifications/vonage"]
	path = app/addons/notifications/vonage
	url = git@github.com:Oshkelosh/vonage.git
[submodule "app/addons/suppliers/spreadconnect"]
	path = app/addons/suppliers/spreadconnect
	url = git@github.com:Oshkelosh/spreadconnect.git
[submodule "app/addons/suppliers/prodigi"]
	path = app/addons/suppliers/prodigi
	url = git@github.com:Oshkelosh/prodigi.git
[submodule "app/addons/suppliers/printful"]
	path = app/addons/suppliers/printful
	url = git@github.com:Oshkelosh/printful.git
[submodule "app/addons/suppliers/printify"]
	path = app/addons/suppliers/printify
	url = git@github.com:Oshkelosh/printify.git
[submodule "app/addons/suppliers/podbase"]
	path = app/addons/suppliers/podbase
	url = git@github.com:Oshkelosh/podbase.git
[submodule "app/addons/suppliers/gooten"]
	path = app/addons/suppliers/gooten
	url = git@github.com:Oshkelosh/gooten.git
[submodule "app/addons/suppliers/gelato"]
	path = app/addons/suppliers/gelato
	url = git@github.com:Oshkelosh/gelato.git
[submodule "app/addons/suppliers/customcat"]
	path = app/addons/suppliers/customcat
	url = git@github.com:Oshkelosh/customcat.git
[submodule "app/addons/suppliers/cjdropshipping"]
	path = app/addons/suppliers/cjdropshipping
	url = git@github.com:Oshkelosh/cjdropshipping.git
